

.container{
  background-color: aliceblue;
  width: 40%;
  height: 500px;
  margin-left: 20px;
  border-radius: 10px;
  float: left;
 /* background-color: rgb(0, 0, 0,0.5);
  color: white;*/
}

.header{
  display: flex;
  background-color: rgb(0, 0, 0,0.6);
  color: white;
  height: 60px;
  align-items: center;
  justify-content: center;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.formField{
  margin-top: 20px;
  
}
.formField input{
  margin-left: 15px;
  height: 30px;
  margin-top: 5px;
  width: 87%;
  border-radius: 5px;
  border: 1px solid gainsboro;
}
label{
  margin-left: 15px; 
}
.btn{
  margin-top: 15px;
  margin-left: 20px;
}
#btn1{
  height: 30px;
  background-color: rgb(0, 0, 0,0.6);
  color: white;
  border: none;
  border-radius: 5px;
}

.container-2{
  float: left;
  width: 53%;
  margin-left: 20px;
  margin-top: 60px;
}
table{
  width: 100%;
}
table{
  border-collapse: collapse;
  
}

table, tr, td{
  padding-left: 5px;
  padding-right: 5px;

}
tr{
  height: 40px;
 
}
tr:nth-child(odd){
  background-color: rgb(202, 202, 202);
}
tr:nth-child(even){
  background-color: rgb(235, 235, 235);
}
